<%= turbo_frame_tag id="new_comment_or_like" do %>
<div id="<%= dom_id post %>">
  <article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="https://bulma.io/images/placeholders/128x128.png">
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong><%= post.user.username %></strong> <small><%= post.user.email %></small> <small><%= time_ago_in_words(post.created_at) %></small>
        <br>
    <%= post.body %>
      </p>
    </div>
    <nav class="level is-mobile">
      <div class="level-left">
        <a class="level-item">
          <span class="icon is-small"><i class="fas fa-reply"></i></span>
        </a>
        <% like =  current_user.likes.find_by( post: post) %>
        <% if like.nil? %>
          <%= button_to likes_path, params: { like: { post_id: post.id }}, method: :post, class: "level-item remove-submit-btn-style"  do %>
          <span class="icon is-small"><i class="fas fa-heart"></i></span>&nbsp;<small><span><%= post.likes.count unless post.likes.count.zero? %></span></small>
          <% end %>
        <% else %>
          <%= button_to like_path(like), method: :delete, class: "level-item a remove-submit-btn-style"  do %>
          <span class="icon is-small"><i class="fas fa-heart"></i></span>&nbsp;<small><span><%= post.likes.count unless post.likes.count.zero? %></span></small>
        <% end %>
          <% end %>
      </div>
    </nav>
  </div>
  
</article>
</div>
<% end %>
